.node__root > circle {
  fill: red;
}

.node__branch > circle {
  fill: yellow !important;
}

.node__leaf > circle {
  fill: green !important;
}

.node__path {
  /* stroke: #fff !important; */
}

.colors {
  /* color: #fff !important; */
}
