* {
  font-family: sans-serif;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
#root {
  height: 100%;
}
